#!/usr/bin/env bash

# Neovim
alias ni='nvim'

# R
alias R='R --quiet'

# Tmux
alias tmux="TERM=screen-256color-bce tmux"

# Exploring a directory
alias tree='tree -lC --dirsfirst'
alias ls='ls -FG'
alias la='ls -a'

# Navigation
alias ..='cd .. && ls'
alias ...='cd ../.. && ls'
alias ....='cd ../../.. && ls'
alias .....='cd ../../../.. && ls'
alias ......='cd ../../../../.. && ls'

# OS X specific stuff
alias iCloud='cd /Users/epwalsh/Library/Mobile\ Documents/com~apple~CloudDocs'
alias showFiles='defaults write com.apple.finder AppleShowAllFiles YES; killall Finder /System/Library/CoreServices/Finder.app/'
alias hideFiles='defaults write com.apple.finder AppleShowAllFiles NO; killall Finder /System/Library/CoreServices/Finder.app/'
