#!/usr/bin/env bash

# Neovim
alias ni='nvim'
alias fzni='nvim $(fzf)'
alias fzvi='nvim $(fzf)'

# R
alias R='R --quiet'

# Tmux
alias tmux='TERM=screen-256color-bce tmux'
alias mux='tmuxinator'

# Exploring a directory
alias tree='tree -lC --dirsfirst'
if [[ `uname` == 'Darwin' ]]; then
    alias ls='ls -FG'
else
    alias ls='ls -FG --color'
fi
alias la='ls -a'

# Navigation
alias ..='cd .. && ls'
alias ...='cd ../.. && ls'
alias ....='cd ../../.. && ls'
alias .....='cd ../../../.. && ls'
alias ......='cd ../../../../.. && ls'

# Quickly get public IP
alias digme='dig TXT +short o-o.myaddr.l.google.com @ns1.google.com'
alias external-ip='echo `curl ipecho.net/plain;echo`'

# Go directory to root of git repo
alias git-root='cd $(git rev-parse --show-cdup)'

# OS specific stuff
if [[ `uname` == 'Darwin' ]]; then
    # Show or hide hidden files in Finder App.
    alias showFiles='defaults write com.apple.finder AppleShowAllFiles YES; killall Finder /System/Library/CoreServices/Finder.app/'
    alias hideFiles='defaults write com.apple.finder AppleShowAllFiles NO; killall Finder /System/Library/CoreServices/Finder.app/'
else
    alias suspend='sudo systemctl suspend'
fi
