#!/usr/bin/env bash
# Defines convenient aliases.

# Neovim
alias ni='nvim'

# R
alias R='R --quiet'

# Tmux
alias tmux="TERM=screen-256color-bce tmux"

# Exploring a directory
alias tree='tree -lC --dirsfirst'
if [[ `uname` == 'Darwin' ]]; then
    alias ls='ls -FG'
else
    alias ls='ls -FG --color'
fi
alias la='ls -a'

# Navigation
alias ..='cd .. && ls'
alias ...='cd ../.. && ls'
alias ....='cd ../../.. && ls'
alias .....='cd ../../../.. && ls'
alias ......='cd ../../../../.. && ls'

# Quickly get public IP
alias digme='dig TXT +short o-o.myaddr.l.google.com @ns1.google.com'
alias external-ip='echo `curl ipecho.net/plain;echo`'

# Go directory to root of git repo
alias git-root='cd $(git rev-parse --show-cdup)'

# OS X specific stuff
alias showFiles='defaults write com.apple.finder AppleShowAllFiles YES; killall Finder /System/Library/CoreServices/Finder.app/'
alias hideFiles='defaults write com.apple.finder AppleShowAllFiles NO; killall Finder /System/Library/CoreServices/Finder.app/'

# Remote into Piper.
alias mosh-piper='mosh epwalsh@73.97.143.214'
alias mosh-local-piper='mosh epwalsh@10.0.0.178'

# Remote into Parnell.
alias mosh-parnell='mosh epwalsh@173.18.194.82'
