#!/usr/bin/env bash

# Prefer US English and use UTF-8
export LANG='en_US.UTF-8'

# Use neovim as default editor
export VISUAL=nvim
export EDITOR=$VISUAL

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# TERM settings
export TERM=screen-256color

# Better coloring of directories for light colorscheme.
if [[ ${ITERM_PROFILE:-"Dark"} = "Light" ]]; then
    LS_COLORS=$LS_COLORS:'di=0;35:'
    export LS_COLORS
fi
